$mainColor: #FFFFFF;

:root {
   --primary: #252932;
   --secondary: #F1F5F9;
   --accent: #0F172A;
   --inverse: #FFFFFF;

   --bg-primary: #FFFFFF;
   --bg-secondary: #FFFFFF;
   --bg-accent: #252932;
   --bg-inverse: #FFFFFF;

   --text-primary: #0F172A;
   --text-secondary: #475569;
   --text-accent: #FFFFFF;
   --text-inverse: #0F172A;
   --text-inverse-btn: #252932;
}